body{
    display:grid;
    margin:0;
    height:100vh;
    grid-template-rows:min-content min-content 1fr;
    gap:1rem;
}

header{
    grid-column: 1/-1;
}

.content-header{
    grid-column: 1/-1;
    display:flex;
    justify-content: center;
}

.content-body{
    padding:2rem;
    overflow-y: scroll;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
}

.wishlist-icon{
    color:red;
}


a{
    text-decoration:none;
  }
  
  a:visited{
    text-decoration:none;
  }

  .card{
      width:250px;
      
  }
  .card img{
    height:250px;
  }